.btn {
    background-color: #005bb5; /* Cor de fundo azul */
    color: white; /* Cor do texto branca */
    padding: 10px 20px; /* Adiciona um padding ao botão */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Arredonda os cantos do botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.btn:hover {
    background-color: white; /* Cor de fundo branca ao passar o mouse */
    color: #005bb5; /* Cor do texto azul ao passar o mouse */
    border: 1px solid #005bb5; /* Adiciona uma borda azul ao passar o mouse */
}

#enderecoContainer {
    display: none; /* Esconde a lista de endereços inicialmente */
}

#loader {
    z-index: 1000; /* Para garantir que o carregador apareça acima de outros elementos */
    text-align: center;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #0073e6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

body{
    background: #e1e8f7;
}
button:hover {
background: #005bb5; /* Cor ao passar o mouse */
transform: none !important; /* Remove o efeito de aumento */
}

button.btn-edit:hover,
button.btn-delete:hover {
transform: none; /* Remove o efeito de aumento */
}

button:focus {
outline: none; /* Remove o contorno padrão */
transform: none; /* Remove qualquer transformação */
}

button:hover {
transform: initial !important; /* Define como o valor padrão */
}

.container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
max-width: 800px;
padding: 30px;
margin: 20px;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 25px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}