/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../imagens/cruzeiro-torcida1.jpg.crdownload') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
}

/* Estilos do contêiner de login */
#divlogin {
    background-color: rgba(225, 232, 247, 0.8); /* Fundo branco com 80% de opacidade */
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Largura máxima */
    box-sizing: border-box;
    text-align: center;
}

/* Estilos dos labels e inputs */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

/* Estilos do botão */
button {
    padding: 10px 20px;
    background: linear-gradient(#0073e6, #031846);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #005bb5;
    line-height: 19.36px;
}



/* Responsividade */
@media (max-width: 768px) {
    #divlogin {
        padding: 20px;
        border-radius: 10px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    #divlogin {
        padding: 15px;
        border-radius: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding: 6px;
    }

    button {
        padding: 6px 12px;
    }
}

#loader {
    z-index: 1000; /* Para garantir que o carregador apareça acima de outros elementos */
    text-align: center;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #0073e6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.toggle-button {
    cursor: pointer; /* Altera o cursor para um ponteiro */
    color: blue; /* Opcional: altera a cor do texto */
    text-decoration: underline; /* Opcional: sublinha o texto */
}

/* Estilos do botão */
button {
    padding: 10px 20px;
    background: linear-gradient(#0073e6, #031846);
    color: white;
    border: 2px solid transparent; /* Define uma borda transparente */
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 16px; /* Tamanho fixo da fonte */
    line-height: normal; /* Normaliza a altura da linha */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    outline: none; /* Remove o contorno padrão do botão */
}

/* Efeito ao passar o mouse */
button:hover {
    background: white; /* Altera a cor de fundo para branco */
    color: #0073e6; /* Altera a cor do texto para a cor do botão */
    border: 2px solid #0073e6; /* Adiciona uma borda da cor do botão */
}
