* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais para o body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e1e8f7;
  text-align: center;
  margin: 0;
  padding: 0;
  /*background: url('../imagens/cruzeiro-torcida1.jpg.crdownload') no-repeat center center fixed;*/
  background: url('../imagens/fundo-de-futebol-gradiente-dinamico_23-2149007789.avif') no-repeat center center fixed;
  background-size: cover;
}

/* Estilo para o logo */
#logo_impacta {
  height: 77px; /* Diminuído para ficar mais harmonioso */
}

/* Estilos do header */
.headerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background: linear-gradient(#0073e6, #031846);*/
  background-color: #005bb5;
  color: white;
  padding: 15px 5%; /* Reduzido o padding para um cabeçalho mais compacto */
}

#botoes {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduzido o gap entre os botões */
}

a {
  display: inline-block;
  padding: 8px 16px; /* Ajustado o padding para tamanhos menores */
  margin: 5px; /* Reduzido o margin para mais compactação */
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px; /* Arredondamento mais sutil */
  transition: background 0.3s ease, color 0.3s ease;
}

/*a:hover {
  background: #0073e6;
  color: #fff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* Garante que a rolagem vertical funcione */
/*

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Coloca o vídeo atrás do conteúdo */

/*
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz o vídeo cobrir toda a área */

/*
.content {
  position: relative;
  z-index: 1; /* Coloca o conteúdo na frente do vídeo */
  /*color: rgb(10, 10, 10);
  text-align: center;
  padding: 20px;
}
body {
  background-image: url('../imagens/videotorcida\ \(online-video-cutter.com\).mp4');
  background-size: cover;
  background-position: center;
  overflow-y: auto; /* Garante que a rolagem vertical funcione */


#linkLogout {
  cursor: pointer;
}

a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

a:hover {
  background: #0073e6;
  color: #fff;
}

/* Estilos do ícone */
#boneco {
  width: 100px;
  height: 100px;
}

/* Estilo dos botões */
#botoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  background:#0073e6;
  color: #fff;
  border: none;
  border-radius: 40px;
  transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
  background: #005bb5;
  transform: scale(1.05);
}

/* Estilos dos planos */
.plan-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.plan-card {
  background-color: #fff;
  border: 2px solid #005bb5;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.plan-card:hover {
  transform: scale(1.05);
}

.plan-logo {
  display: grid;
  place-items: center;
  height: 100px;
}

.plan-title {
  font-family: 'Gotham Black', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}

.plan-description,
.plan-price {
  font-size: 14px;
  margin-bottom: 20px;
}

.currency {
  font-size: 16px;
}

.amount {
  font-size: 24px;
  font-weight: bold;
}

.cents {
  font-size: 16px;
}

.frequency {
  font-size: 12px;
  display: block;
}

.btn-plan,
.btn-info {
  font-family: 'Gotham Black', sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-plan {
  background: linear-gradient(#0073e6, #031846);
  color: #fff;
  margin-bottom: 10px;
}

.btn-info {
  background-color: transparent;
  border: 2px solid #005bb5;
  color: #000;
}

.btn-info a {
  color: #050505;
  text-decoration: none;
}

.btn-info:hover,
.btn-plan:hover {
  background: #005bb5;
  color: #fff;
}

/* Estilos do rodapé */
.footer {
  background-color: #292929;
  padding: 20px 0;
  color: #e9e9e9;
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer p {
  color: #e9e9e9;
}

.footer a {
  color: #e9e9e9;
  text-decoration: none;
}

.footer a:hover {
  color: #ffd700;
}

.footer i {
  font-size: 1.5rem;
}

.footer .list-unstyled {
  padding-left: 0;
}

.footer .fab {
  color: #e9e9e9;
  transition: color 0.3s ease;
}

.footer .fab:hover {
  color: #ffd700;
}

/* Estilo do rodapé */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #f0f0f0;
}

/* Estilo das linhas no rodapé */
.row {
  display: flex;
  justify-content: space-evenly;
}

/* Responsividade */
@media (max-width: 768px) {
  .headerr {
      padding: 15px;
  }

  .mainn {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 800px; /* Defina uma altura mínima se necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px; /* Adicione padding para espaçamento */
}


  .plan-container {
      flex-direction: column;
      align-items: center;
  }

  .plan-card {
      width: 90%;
      max-width: 400px;
  }

  button {
      padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .headerr {
      padding: 10px;
  }

  .plan-card {
      width: 100%;
      max-width: 100%;
  }

  button {
      padding: 8px 16px;
  }
}

.noticias {
  padding: 40px 20px;
  background-color: #f3f1f1(255, 255, 255, 0.9); /* Fundo branco levemente transparente */
  color: #000; /* Cor do texto */
}

.noticias-container {
  display: flex;
  justify-content: space-around; /* Espaço igual entre os cards */
  flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte se não houver espaço */
}

.noticia-card {
  background-color: #fffdfd; /* Fundo dos cards */
  border: 1px solid #0073e6; /* Borda leve */
  border-radius: 8px; /* Cantos arredondados */
  width: 300px; /* Largura fixa dos cards */
  margin: 10px; /* Margem entre os cards */
  text-align: center; /* Centraliza texto e imagens */
  padding: 15px; /* Padding interno dos cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: transform 0.3s; /* Efeito de transição */
}

.noticia-card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.noticia-imagem {
  width: 100%; /* Imagem ocupa toda a largura do card */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Cantos arredondados da imagem */
}


.proximo-jogo {
  background-color: #f4f6f8; /* Cor de fundo azul */
  color: #0a0a0a; /* Cor do texto branco */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}

.jogo-info {
  margin-top: 10px;
}

.proximo-jogo h2 {
  font-size: 24px;
}

.proximo-jogo h3 {
  font-size: 20px;
  margin: 10px 0;
}

.proximo-jogo p {
  font-size: 16px;
}

.tamanho-maior {
    min-height: 750px; /* Ajuste a altura conforme necessário */
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha verticalmente */
    align-items: center; /* Alinha horizontalmente */
    min-height: 0px; /* Ajuste a altura conforme necessário */
}

/* Estilos da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead tr {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Estilos da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead tr {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Estilos dos botões */
button {
  margin: 5px;
  cursor: pointer;
}

button.btn-edit {
  padding: 5px 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
}

button.btn-edit:hover {
  background-color: #005bb5;
}

button.btn-delete {
  padding: 5px 10px;
  background-color: #d9534f; /* Cor de fundo vermelho */
  color: white;
  border: none;
  border-radius: 5px;
}

button.btn-delete:hover {
  background-color: #c9302c; /* Cor ao passar o mouse */
}


