<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="../styles/cadastro.css"> 
</head>
<body>
    <div class="conteiner">
        <div class="retangulo"></div>
        <div class="teste">
            <form id="cadastroForm">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>

                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf"><br>

                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" id="dataNascimento" name="dataNascimento"><br>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" maxlength="8" minlength="8" required><br>

                <label for="termos">
                    <input type="checkbox" id="termos" name="termos" required>
                    Aceito os termos e condições
                </label><br>
            

                <button type="submit" >Cadastrar</button>
            </form>
            <div id="loader" style="display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
                <div class="spinner"></div>
            </div>
        </div>
    </div>

        <script src="../script/cadastro.js"></script>
    </body>
</html>
<!--