<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="../styles/cadastro.css"> 
</head>
<body>
    <div class="conteiner">
        <div class="retangulo"></div>
        <div class="teste">
            <h1>Cadastro</h1>
            <form id="cadastroForm">
                <br>
                <input type="text" id="nome" placeholder="Nome" required><br>
                <input type="email" id="email" placeholder="Email" required><br>
                <input type="text" id="cpf" placeholder="CPF"><br>
                <input type="date" id="dataNascimento" placeholder="dataNascimento"><br>
                <input type="password" id="senha" placeholder="Senha" maxlength="8" minlength="8" required><br>

                <label for="termos">
                    <input type="checkbox" id="termos" name="termos" required>
                    Aceito os termos e condições
                </label><br>
            

                <button type="submit" >Cadastrar</button>
            </form>
            <br>
            <div class="toggle-button" onclick="window.location.href='login.html'">Já tem uma conta? Faça login!</div>
        </div>
            <div id="loader" style="display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
                <div class="spinner"></div>
            </div>
        </div>
    </div>

        <script src="../script/cadastro.js"></script>
    </body>
</html>