<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Endereço</title>
    <link rel="stylesheet" href="../styles/endereco.css"> 
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Cadastro de Endereço</h1>
            <form id="enderecoForm">

                <label for="title"></label>
                <input type="text" id="title" placeholder="Título" name="title" required>

                <label for="cep"></label>
                <input type="text" id="cep" placeholder="CEP" name="cep" required pattern="^\d{5}-\d{3}$" title="O CEP deve estar no formato XXXXX-XXX.">

                <label for="address"></label>
                <input type="text" id="address" placeholder="Rua" name="address" required>

                <label for="number"></label>
                <input type="number" id="number" placeholder="Número" name="number" required>

                <label for="complement"></label>
                <input type="text" id="complement" placeholder="Complemento"name="complement">

                <div class="button-container">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
        <div id="loader" style="display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
            <div class="spinner"></div>
        </div>
    </div>

    <script src="../script/endereco.js"></script>
</body>
</html>





