<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sócio Torcedor</title>
    <link rel="stylesheet" href="../styles/styles.css">
    
</head>
<body>
    <header>
      <div class="headerr">
        <a href="/" class="align-top">
          <img src="../imagens/bonecoooo.png" id="boneco" width="">
        </a>
        <a href="https://www.impacta.edu.br" id="arrumalogo">
            <img src="../imagens/logoimpacta.png" alt="logo impacta" id="logo_impacta">
        </a>
        <div id="botoes">
            <!--<button onclick="window.location.href='./login/login.html'">Login</button>-->
            <!--<button onclick="window.location.href='../view/register.html'">Cadastro</button>-->
            <a href="../view/login.html">Login</a>
            <a href="../view/register.html">Cadastro</a>
        </div>
        <style>
          .whatsapp-button {
              position: fixed;
              bottom: 20px; 
              right: 20px;  
              width: 60px;  
              height: 60px; 
              background-color: #25D366; 
              border-radius: 50%; 
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
              text-decoration: none;
              z-index: 1000; 
          }
  
          .whatsapp-button::before {
              content: '';
              display: block;
              width: 30px; 
              height: 30px;
              background: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg') no-repeat center;
              background-size: contain; 
          }
  
          .whatsapp-button:hover {
              background-color: #128C7E; 
          }
      </style>
    </header>
    
    <main class="mainn">
        <h1><i>Seja sócio torcedor do team impacta</i></h1>
        <h2>VOCÊ AINDA MAIS PERTO DA FACULDADE</h2>
        <p><i>Viva experiências incríveis ao lado do Mais Querido com benefícios exclusivos</i></p>
        <br>
        <div class="plan-container">
            <div class="plan-card">
              <div class="plan-logo">
                <img alt="Logo Assinatura Básica" src="../imagens/bonecoooo.png" style="height: 78px">
              </div>
              <div class="plan-title">
                Assinatura Básica
              </div>
              <div class="plan-description">
                Ideal para quem deseja acessar conteúdo exclusivo com um custo acessível.
              </div>
              <form method="post" action="/assinar/">
                <input type="hidden" name="csrfmiddlewaretoken" value="SEU_TOKEN_AQUI">
                <input type="hidden" name="category_id" value="1">
                <div class="plan-price">
                  <span class="currency">R$</span>
                  <span class="amount">19</span>
                  <span class="cents">,90</span>
                  <span class="frequency">por mês</span>
                </div>
                <button type="submit" class="btn-plan">
                  ASSINE AGORA
                </button>
                <button type="reset" class="btn-info">
                  <a href="#info">MAIS INFORMAÇÕES</a>
                </button>
              </form>
            </div>
          
            <div class="plan-card">
              <div class="plan-logo">
                <img alt="Logo Assinatura Premium" src="../imagens/bonecoooo.png" style="height: 78px">
              </div>
              <div class="plan-title">
                Assinatura Premium
              </div>
              <div class="plan-description">
                Perfeito para quem quer acessar todo o conteúdo e participar de sorteios exclusivos.
              </div>
              <form method="post" action="/assinar/">
                <input type="hidden" name="csrfmiddlewaretoken" value="SEU_TOKEN_AQUI">
                <input type="hidden" name="category_id" value="2">
                <div class="plan-price">
                  <span class="currency">R$</span>
                  <span class="amount">29</span>
                  <span class="cents">,90</span>
                  <span class="frequency">por mês</span>
                </div>
                <button type="submit" class="btn-plan">
                  ASSINE AGORA
                </button>
                <button type="reset" class="btn-info">
                  <a href="#info">MAIS INFORMAÇÕES</a>
                </button>
              </form>
            </div>
          
            <div class="plan-card">
              <div class="plan-logo">
                <img alt="Logo Assinatura VIP" src="../imagens/bonecoooo.png" style="height: 78px">
              </div>
              <div class="plan-title">
                Assinatura VIP
              </div>
              <div class="plan-description">
                O plano para quem quer tudo e mais um pouco, incluindo benefícios especiais.
              </div>
              <form method="post" action="/assinar/">
                <input type="hidden" name="csrfmiddlewaretoken" value="SEU_TOKEN_AQUI">
                <input type="hidden" name="category_id" value="3">
                <div class="plan-price">
                  <span class="currency">R$</span>
                  <span class="amount">49</span>
                  <span class="cents">,90</span>
                  <span class="frequency">por mês</span>
                </div>
                <button type="submit" class="btn-plan">
                  ASSINE AGORA
                </button>
                <button type="reset" class="btn-info">
                  <a href="#info">MAIS INFORMAÇÕES</a>
                </button>
              </form>
            </div>
          </div>
    </main>
    <br>
    <footer class="footer bg-dark text-white p-4">
        <div class="row">
            <div class="row1">
                <div class="text-white font-gotham font14 mb-2">
                    <b>Clube social da Impacta - Atendimento Presencial</b>
                </div>
                <div class="text-white font-gotham font12">
                    Ao lado do metrô paraiso.
                    <br>
                    Rua Cubatão, 726 - Vila Mariana<br>São Paulo - SP
                </div>
            </div>
            <div class="row2">
                <div class="text-white font-gotham font14 mb-2">
                    <b>Horário Posto de atendimento</b>
                </div>
                <div class="text-white font-gotham font12">
                    Terça-feira à quinta-feira, das 8h às 19h,<br>Sexta-feira das
                    08h às 18h, <br>Sábado, domingo e feriado das 10h às 17h.<br>Segunda-feira
                    fechado.
                </div>
            </div>
            <div class="row3">
                <div class="text-white font-gotham font14 mb-2">
                    <b>Fale conosco</b>
                </div>
                <div class="text-white font-gotham font12">
                    4002-8922 
                </div>
            </div>
            <div class="row4">
                <div class="text-white font-gotham font14 mb-2">
                    Horário de atendimento
                </div>
                <div class="text-white font-gotham font12">
                    De segunda a quinta-feira, das 8h às 19h,<br>Sextas-feiras das
                    8h às 18h. <br>Sábados, domingos e feriados somente presencial
                    no posto de Atendimento do Clube
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-4 text-center text-md-left mb-3">
              <img src="../imagens/bonecoooo.png" alt="Logo Fiel Digital" style="height: 50px;">
              <p>Sport Club Impacta Paulista - Fiel Torcedor</p>
              <p>&copy; 2024 Impacta Club. Todos os direitos reservados.</p>
            </div>
        </div>
      </footer>
    <script src="script.js"></script>
    <a class="whatsapp-button" href="https://wa.me/5511987628803" target="_blank">
  </a>
</body>
</html>