<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Endereços</title>
    <link rel="stylesheet" href="../styles/listaEndereco.css"> 
</head>
<body>
    <div class="container">
        <div class="list-container">
            <h1>Listagem de Endereços</h1>
            <table id="tabela">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>CEP</th>
                        <th>Endereço</th>
                        <th>Complemento</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- As linhas da tabela serão inseridas aqui -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="../script/listaEndereco.js"></script>
</body>
</html>
