<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div id="divlogin">
        <h1>Login</h1>
        <form id="loginForm">
            <input type="email" id="email" placeholder="Email" required>

            <input type="password" id="senha" placeholder="Senha" required>
            
            <button type="submit">Login</button>
        </form>
        <br>
        <div class="toggle-button" onclick="window.location.href='cadastro.html'">Não tem uma conta? Cadastre-se!</div>
        <div id="loader" style="display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
            <div class="spinner"></div>
        </div>
    </div>

    <script src="../script/login.js"></script>
</body>
</html>