<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/noticias.css">
        <title>Noticias</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo"><img src="../imagens/bonecoooo.png" style="height: 78px"></div>
                <div class="menu">
                    <nav>
                        <a href="#">Home</a>
                        <a href="#">Blog</a>
                        <a href="#">Sobre</a>
                        <a href="#">Contatos</a>
                        
                    </nav>
                </div>
                
            </div>

            <section class="noticias">
                <h2>Últimas Notícias</h2>
                <div class="noticias-container">
                    <div class="noticia-card">
                        <img src="../imagens/i.png" alt="Notícia 1" class="noticia-imagem">
                        <h3>PROXIMO CONFRONTO</h3>
                        <p>O nosso proximo compromisso sera contra o Corinthians. Partida valida para o Campeonato Brasileiro 2024.</p>
                    </div>
                    <div class="noticia-card">
                        <img src="../imagens/centenarioreforma.webp" alt="Notícia 2" class="noticia-imagem">
                        <h3>ESTADIO EM REFORMA</h3>
                        <p>Em breve, nosso estádio passará por reformas significativas! Estamos aumentando a capacidade da arquibancada para acolher ainda mais torcedores e proporcionar uma experiência incrível para todos. Fique atento às novidades!</p>
                    </div>
                    <div class="noticia-card">
                        <img src="../imagens/792b30011969fbbf36a3720c8fdf2bb6.jpg" alt="Notícia 3" class="noticia-imagem">
                        <h3>NOTICIA URGENTE</h3>
                        <p>É com grande prazer que anunciamos um fato historico! O nosso Rival PALMEIRAS não tem MUNDIAL!!!!</p>
                    </div>
                </div>
            </section>
            
            <section class="proximo-jogo">
                <h2>Próximo Jogo!</h2>
                <p>Prepare-se para a grande batalha!</p>
                <div class="jogo-info">
                    <h3>Impacta FC vs. Corinthians</h3>
                    <p><strong>Data:</strong> Sábado, 15 de Outubro</p>
                    <p><strong>Horário:</strong> 16:00</p>
                    <p><strong>Local:</strong> Arena Impacta</p>
                </div>
            </section>
            
        </header>
    

    
</body>
</html>
<!--